@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Vars */
:root{
    /* Colors */
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
    --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */

    /* Font */
    /* Family */
    --font-family-1: 'Big Shoulders Display', cursive;
    --font-family-2: 'Lexend Deca', sans-serif;

    /* Sizes */
    --font-md: 0.938rem;
}

/* Global */
*{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    background-color: var(--very-light-gray);
    font-family: var(--font-family-2);
    color: var( --transparent-white);
}

main{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    height: 100%;
    max-width: 25.875rem;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

/* Cards Container */
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

/* Card Container */
.card-sedans{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: max-content;
    background-color: var(--bright-orange);
    padding: 2.5rem 3rem;
}
.card-suv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark-cyan);
    padding: 2.5rem 3rem;
}
.card-luxury{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--very-dark-cyan);
    padding: 2.5rem 3rem;

}

/* Card Image */
.card-img1{
    background-image: url(../../assets/images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
}
.card-img2{
    background-image: url(../../assets/images/icon-suvs.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
}
.card-img3{
    background-image: url(../../assets/images/icon-luxury.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
}

/* Card Text Areas */
.card-title{
    margin: .5rem 0rem;
    text-transform: uppercase;
    font-family: var(--font-family-1);
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--very-light-gray);
}

.card-desc{
    font-size: var(--font-md);
    line-height: 1.5rem;
}


/* Card Button */
button{
    width: 7.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.125rem solid var(--very-light-gray);
    font-family: var(--font-family-2);
    font-weight: 700;
    background-color: var(--very-light-gray);
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    color: var(--very-light-gray);
}

.card-sedans-button{
    color: var(--bright-orange);
}
.card-suv-button{
    color: var(--dark-cyan);
}
.card-luxury-button{
    color: var(--very-dark-cyan);
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

/* Media Query */
@media (min-width: 61.25em) {
    body{
        height: 100vh;
    }
    main{
        max-width: 57.125rem;
    }
    .cards{
        flex-direction: row;
    }
    button{
        margin-top:4rem;
    }
    .card-desc{
        line-height: 1.7rem;
    }
}

/* Footer */
footer{
    position: relative;
    top: -0.625rem;
}

.attribution { 
    font-size: 0.688rem; 
    text-align: center;
    color: black; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
