@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    /* Colors */

    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
    --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */

    /* Font */

    /* Family */
    --font-family-1: 'Big Shoulders Display', cursive;
    --font-family-2: 'Lexend Deca', sans-serif;

    /* Sizes */
    --font-md: 15px;
}

*{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}







.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
